[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pytest = "*"

[dev-packages]
mkdocstrings = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings-python = "*"

[requires]
python_version = "*"
